<a href="https://colab.research.google.com/github/kuha1088/GB_IntroPython_GU4025Sudakov/blob/main/Seminars/Seminar10/Ex10_003/Ex10_003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Задача №67:*  
*1. Создать новый столбец в таблице с пингвинами, который будет отвечать за*   *показатель длины клюва пингвина.*  
*high - длинный(от 42)*  
*middle - средний(от 35 до 42)*  
*low - маленький(до 35)*  

*Чтобы подключить датасет с пингвинами, воспользуйтесь данным скриптом:*  
*penguins = sns.load_dataset("penguins")*  
*penguins.head()*

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
penguins = sns.load_dataset("penguins")

In [ ]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
new_penguins = penguins.dropna()

In [ ]:
new_penguins['bill_length_mm_new'] = 0

In [ ]:
new_penguins.loc[(new_penguins['bill_length_mm'] >= 42), 'bill_length_mm_new'] = 'high'
new_penguins.loc[(new_penguins['bill_length_mm'] > 35) & (new_penguins['bill_length_mm'] < 42), 'bill_length_mm_new'] = 'middle'
new_penguins.loc[(new_penguins['bill_length_mm'] <= 35), 'bill_length_mm_new'] = 'low'

In [ ]:
new_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_length_mm_new
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,middle
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,middle
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,middle
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,middle
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,middle
...,...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,high
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,high
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,high
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,high
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,high